@import "bootstrap";

p {
	font-size: 18px;
}

textarea {
    resize: none;
}

@media (min-width: $screen-sm) {
	.challenge_container {
		overflow-y: scroll;
		min-height: 600px;
		height: calc(100vh - 70px);
	}
}

.challenge_container {
	.challenge_section:last-child {
		margin-bottom: 100px;
	}
}
.code_area {
	min-height: 300px;
	margin-bottom: 20px;
	border-radius: 4px;
	color: #EEE;
	padding: 15px;
}

.code_interactive {
}

.code_area:focus {
	box-shadow:none;
	border:none;
}
.code_results {
	color: rgb(13, 122, 215);
}