body{
    /*max-width: 1200px;*/
    margin: auto;
}
.margin{
    margin-top: 5px;
    margin-bottom: 10px;
}
.myJumbo {
    padding: 1em 1em 0.1em 1em;
    
}

textarea{
    resize: none;
}

.top{
    position:fixed;
    top: 0;
}

.cont{
    width: 100%;
}