<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Coding Curriculum: Lesson 1</h1>
        </div>
    </div>
    <div class="row">

        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <div class="col-xs-12">

                    <h3>Part 1</h3>

                    <p>Okay, first things first Robo{{$storage.name}}, we need to see if you can communicate information to us. You can communicate with us in the Python language. You can do this by using the print command. Type print followed by what you want to say, in quotes, this is called the string.</p>
                    
                    <p>For example:</p>
                    <pre>print "I understand this"</pre>
                    
                    <p>The above example shows the print command, followed by the string "I understand this". Together this will print:</p>
                    <pre>I understand this</pre>
                    
                    <h2>Challenge 1</h2>
                    
                    <p>Print the following statement below, "Good Morning, Investigator Maria!".</p>
                </div>

                <div class="col-xs-12" ng-show="continue">

                    <h3>Part 2</h3>

                    <p>In python we can also print numbers. For example:</p>
                    <pre>print 10</pre>

                    <p>In this example the print command is followed by the number 10. Notice how we did not use quotation marks around the number 10, this is because we want to print the number 10. The above example will print:</p>
                    <pre>10</pre>

                    <p>We can also print the output of a calculation, we will call these calculations expressions. For example:</p>
                    <pre>print 10 * 5 <br>print 5 + 20 - 6  <br>print (30 / 5) * (2 + 7)</pre>

                    <p>In this example, we have several print command followed by expressions (calculations). Python will figure out the result of an expression like 10 * 5 and output it using the print statement. The code above will print:</p>
                    <pre>50 <br>19 <br>54 </pre>

                    <p>It is important to remember that we didn't put the numbers or expressions in quotes, as quotes turn.</p>
                    
                    <h3>Variables!</h3>
                    
                    <p>Now that we have learnt to print content to the console, we can think about how to store information.A variable is like a container that can hold different values. We can declare a variable and insert something into it like below.</p>
                    <pre>detective = "Detective Maria"</pre>
                    
                    <p>The string "Detective Maria" is stored inside the variable detective. Let's look at another example:</p>
                    <pre>number_one = 22 <br>number_two = 33  <br>print number_one + number_two  </pre>
                    
                    <p>In this example we declare two variables, number_one and number_two. Inside them we store the two values 22 and 33, respectively. With the print statement the expression number_one + number_two evaluates to 22 + 33. The result of this is then output.</p>
                    <pre> 55 </pre>

                    <p>We can also store multiple values inside a variable, this type of variable is called a list. Let's look at the example below.</p>
                    <pre>numbers = [ 2, 5, 3, 6 , 8 ]</pre>

                    <p>We have declared a variable called numbers and inside it we have used list notation [ ] to store 5 different integers. After each item in the list, we add a comma. This tells the list that we are adding a new item. If we print the list:</p>
                    <pre>print numbers</pre>

                    <p>We get the output:</p>
                    <pre>[2, 5, 3, 6 , 8]</pre>
                    
                    <p>If we want to access a specific item inside the list, we can use list bracket notation to do this. We use the name of list variable and the order in which the item appears in the list, this is called the list index. For example:</p>
                    <pre>print numbers[3]</pre>

                    <p>Will output:</p>
                    <pre>6</pre>

                    <p>Notice in the brackets we put the number 3, but instead the 4th number was output, which was 6. This is because list indices don't start at 1 instead they start at 0. By doing <code>numbers[3]</code> we are accessing the 4th item in the list.</p>
                    
                    <h2>Challenge 2</h1>
                    <p>Create a list and store the numbers (11, 5, 4, -6, 8, 1) inside it. Then print the 4th element.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 code_interactive">
            <h3>Your code:</h3>
            <div ui-ace="{mode: 'python', theme: 'monokai'}" id="pythonCode" class="form-control code_area"></div>

            <h3>Result:</h3>
            <pre id="output" class="code_results"></pre>

            <button class="btn btn-success btn-lg col-xs-12" onclick="runit()" ng-click="ch1()">Run my code!</button>
        </div>
    </div>
</div>