<div class="container-fluid">
    <div class="row">
        <h3 class="col-xs-12">Okay, first things first Robo{{$storage.name}}, we need to see if you can communicate information to us. You can communicate with us in the Python language. You can do this by using the print command. Type print followed by what you want to say, in quotes, this is called the string.</h2>
        <h3 class="col-xs-12">For example:</h2>
        <div class="jumbotron myJumbo col-xs-12">
            <p>print "I understand this"</p>
        </div>
        <h3 class="col-xs-12">The above example shows the print command, followed by the string "I understand this". Together this will print:</h2>
        <div class="jumbotron myJumbo col-lg-12">
            <p>I understand this</p>
        </div>
        <h2 class="col-xs-12">CHALLENGE 1</h2>
        <h3 class="col-xs-12">Print the following statement below, "Good Morning, Investigator Maria!".</h3>
        <div class="jumbotron col-xs-12">
            <label>Your code:</label>
            <textarea id="pythonCode" class="form-control margin" rows="3"></textarea>
            <label>Result:</label>
            <pre id="output" class="col-xs-12"></pre>
            <button class="btn btn-primary col-xs-12" onclick="runit()" ng-click="test()">click</button>
            <p>{{result}}</p>
        </div>
    </div> 
</div>