<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Coding Curriculum: Lesson 4</h1>
        </div>
    </div>
    <div class="row">

        <div class="col-xs-12 col-sm-8 challenge_container">
            <div class="row">
                <div class="col-xs-12 challenge_section">
                    <h3>Functions</h3>

                    <p>{{$storage.name}}, we have come a long way and you have learn very valuable and critical skills to help us defeating the Laggers. This is the final stage, If we can make it through building the cypher, we can finally encrypt the mystery of how to defeat TeamLag. One of the earliest encryption methods was to cyclically shift the letters of the alphabet by a fixed amount, an offset between 0 and 26.</p>

                    <p>As you know creating ciphers is very important {{$storage.name}}, they allow us to so only limit the amount of people knowing our messages and by understanding them you can learn to how to decode The Laggers messages and defeat the once and for all. </p>

                    <p>To complete your final challenge you will need to use all of your previous knowledge and combine them together to be successful in your adventure, but before we get stuck in I will need you to teach you to how to create functions.</p>

                    <p>So to be able to create organised and reusable programs you will need to be able to create functions. A function is a block of organised/reusable code that is used to perform a single, related action. By doing so you will make your program more readable and you will also find by making your programs into smaller chunks of functions your original problem becomes much easier.</p>

                    <p>So a few rules when you are defining a function:</p>
                    <ul>
						<li>
							Function blocks begin with the keyword <code>def</code> followed by the name you choose and parentheses. For example:<br>
                            <pre>def functionName(parameters):</pre>
							Any input parameter or arguments should be placed inside the parenthesis and remember you can have more than one parameter inside. 
						</li>
						<li>
							The first statement of a function can also be an optional statement. This is useful since you can describe in string format  what the function will be used for or add any other useful information. 
						</li>
						<li>
							Remember not to forget the colon (:) at the end as the code block within every function starts with a colon. 
						</li>
						<li>
							The statement return exits a function and literally “returns” the value you have decided back to the function. A return statement with no arguments is the same as return None. 
						</li>
					</ul>

                    <p>A typical function body looks like the code below:</p>

                    <pre>def printThisMessage(string):<br>&nbsp;&nbsp;&nbsp;&nbsp;# This program prints  a passed string into this function<br>&nbsp;&nbsp;&nbsp;&nbsp;print string</pre>

                    <h3>Calling a Function</h3>

                    <p>So we have been through defining a simple function. However after specifying the parameters and structuring the blocks of code you will need to know how to call the function to make use of it. You can execute it from another function or directly from the Python prompt itself.</p>

                    <p>For example:</p>

                    <pre>def printThisMessage(string):<br>&nbsp;&nbsp;&nbsp;&nbsp;# This program prints  a passed string into this function <br>&nbsp;&nbsp;&nbsp;&nbsp;print string<br><br># Now you can call printThisMessage function<br>printThisMessage(“Hello this is my first message”)<br>printThisMessage(“Hello this is my second message”)</pre>

                    <p>Output:</p>

                    <pre>Hello this is my first message<br>Hello this is my second message</pre>

                    <h3>The return statement:</h3>
					
                    <p>So as explained earlier the return statement exits a function and optionally passing back an expression to the caller. I will be showing you an example on how you can return a value from a function. </p>
                    
                    <p>For example: </p>

                    <pre>def sumOfNumbers(number1, number2):<br>&nbsp;&nbsp;&nbsp;&nbsp;return number1 + number2<br><br>#calling the sumOfNumbers function<br>sumOfNumbers(10,20)</pre>

                    <p>Output:</p>

                    <pre>30</pre>

                    <p>So as you can observe by returning the total in the sumOfNumbers function when the code executed with those parameters the correct total is calculated.</p>

                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 code_interactive">
            <h3>Your code:</h3>
            <div ui-ace="{mode: 'python', theme: 'solarized_dark'}" id="pythonCode" class="form-control code_area"></div>

            <h3>Result:</h3>
            <pre id="output" class="code_results"></pre>

            <button class="btn btn-success btn-lg col-xs-12" onclick="runit()" ng-click="ch4()">Run my code!</button>
        </div>
    </div>
</div>