<div class="container">
    <div class="row" style="margin-top:20vh;">
        <div class="col-lg-12">
            <h1 class="text-center">Investigator Maria and the curious case of the Robot</h1>
        </div> 
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2" style="margin-top:4vh;">
        <div class="input-group big_start">
            <input type="text" class="form-control" placeholder="What should we call you..." ng-model="name">
            <span class="input-group-btn">
                <button ng-click="go()"ng-disabled="name.length < 1" class="btn btn-primary" type="button">Go!</button>
            </span>
        </div><!-- /input-group -->
		<a href="#/about"><p class="text-center" style="margin-top:15vh;">About us and the project.</p></a>
    </div>
</div>